body {
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.17);
    margin: 0;
    padding: 0;
    background-image: url(../images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #00aff2;
    padding: 10px 0;
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    background-color: #00aff2;
    padding: 5px 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

nav {
    align-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 15px;
    justify-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

header h1 {
    margin: 0px 10px 0px;
}

nav ul li a:hover {
    background-color: #76e0fb;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.15);
}

section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.5em;
}

.git_button {
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 15px;
    background-color: #fff07d;
    color: blueviolet;
    cursor: pointer;
}

.git_button:hover {
    background-color: #fff5a8
}

.weather {
    display: flex;
}

.weather_img {
    background-image: url(../images/weather.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 68%;
    height: 199px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.weather_des {
    margin-left: 5px;
}

.weather_des p {
    font-size: 1em;
}

.weather_des ul {
    font-size: 0.8em;
}

.forecast {
    display: flex;
}

.forecast_img {
    background-image: url(../images/forecast.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 46%;
    height: 198px;
    margin-bottom: 15px;
}

.forecast_des {
    margin-left: 5px;
}

.forecast_des p {
    font-size: 1em;
}

.forecast_des ul {
    font-size: 0.8em;
}

.account {
    display: flex;
}

.account_img {
    background-image: url(../images/account.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 76%;
    height: 197px;
}

.account_des {
    margin-left: 5px;
}

.account_des p {
    font-size: 1em;
}

.account_des ul {
    font-size: 0.8em;
}

#home {
    background-color: rgba(255, 255, 255, 0.15);
    display: grid;
    text-align: center;
}
#about p {
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 22px;
    padding: 7px;
    font-size: 1em;
}

.socials {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 22px;
    padding: 7px;
}

.linkedin {
    margin-right: 20px;
}

.github {
    margin-right: 20px;
}

.project_git a {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 22px;
    padding: 7px;
}
